<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/theme.css">
    <title>Webcamera server</title>
</head>

<body>

    <p>{{ status }}</p>

{#    <ul>#}
{#        {%  for l in llist %}#}
{#            <li>{{ l }}</li>#}
{#        {% endfor %}#}
{#    </ul>#}

    <form action="http://localhost:5000/button_action" method="post">
{#        <input type="text" name="text" value="">#}

        <div style="text-align:center;">
            <input type="submit" name="action" value="start" class="search">
        </div>

        <div style="text-align:center;">
            <input type="submit" name="action" value="stop">
        </div>

    </form>
    <p>Prova</p>
<!--<button type="button" class="block">Block Button</button>-->
</body>

</html>